.form-contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}

.form-content {
  box-shadow: 5px 8px;
  padding: 9rem 2rem 3rem;
  background-color: white;
  border: 3px solid black;
}

.form-content p {
  color: gray;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input,
.message textarea {
  width: 100%;
  padding: 1rem;
  border: 2px solid black;
  box-shadow: 3px 3px;
}

form button {
  background-color: orange;
  font-weight: bold;
  width: 100%;
  padding: 1rem;
  border: 2px solid black;
  box-shadow: 3px 3px;
}

textarea {
  min-height: 150px;
}

.name,
.email,
.message {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

label {
  font-weight: bold;
}
